# 忽略bin目录
*/*/*/bin
#忽略obj目录
*/*/*/obj
#忽略包目录
*/*/packages
#忽略日志目录
*/*/*/log
/CODE/MyFrame/*.suo
/CODE/WebApp/WebApp.v12.suo
/CODE/RBAC/RBAC.v12.suo
/CODE/dlls/MyFrame/EntityFramework.dll
/CODE/dlls/MyFrame/EntityFramework.Extended.dll
/CODE/dlls/MyFrame/EntityFramework.Extended.xml
/CODE/dlls/MyFrame/EntityFramework.SqlServer.dll
/CODE/dlls/MyFrame/EntityFramework.SqlServer.xml
/CODE/dlls/MyFrame/EntityFramework.xml
/CODE/dlls/MyFrame/log4net.dll
/CODE/dlls/MyFrame/MyFrame.Infrastructure.dll
/CODE/dlls/MyFrame/MyFrame.Infrastructure.pdb
/CODE/dlls/MyFrame/MyFrame.Model.dll
/CODE/dlls/MyFrame/MyFrame.Model.pdb
/CODE/dlls/MyFrame/MyFrame.Repository.dll
/CODE/dlls/MyFrame/MyFrame.Repository.dll.config
/CODE/dlls/MyFrame/MyFrame.Repository.pdb
/CODE/dlls/MyFrame/MyFrame.Service.dll
/CODE/dlls/MyFrame/MyFrame.Service.pdb
