@using WebApp.Extensions.Html
@using MyFrame.RBAC.Model
@{
    var opts = ViewData["Opts"] as List<Operation>;
}
<div class="row" style="margin-top:10px;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">模块管理</h3>
            </div>
            <div class="box-body">
                <div id="toolbar" class="container" style="margin:4px 0px;">
                    <div class="row">
                        <div class="col-sm-3 btn-group">
                            @{
                                if (opts != null && opts.Count > 0)
                                {
                                    foreach (var opt in opts)
                                    {
                                        @Html.OptButton(opt);
                                    }
                                }
                            }
                        </div>
                        <div class="col-sm-2" style="padding:0px;">
                            <input type="text" id="txtSearchCode" name="Code" class="form-control" placeholder="模块编号" />
                        </div>
                        <div class="col-sm-2" style="padding:0px;">
                            <input type="text" id="txtSearchName" name="Name" class="form-control" placeholder="模块名称" />
                        </div>
                        <div class="col-sm-1" style="padding-left:2px;">
                            <button id="btnSearch" type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-search">查询</span>
                            </button>
                        </div>
                    </div>
                </div>
                <table id="grid" class="table table-bordered table-striped table-hover" cellspacing="0"></table>
            </div>
        </div>
    </div>
</div>
<script src="~/libs/rbac/module/index.js"></script>
<script type="text/javascript">
    $(function () {
        modulemanage.init({
            urlAdd: "@Url.Action("Add")",
            urlSearch: "@Url.Action("GetModulesFullInfoByPage")",
            urlModuleTreeHelp: "@Url.Action("TreeHelp")"
        });
    });
</script>